<div class="profile col-md-offset-1">
    <h2 class="">Страница пользователя <%= user.nickName %> </h2>
    <ul >
        <li><a href="/createBook">Добавить книгу</a></li>
        <li><a href="/getBooksOfCurrentUser">Просмотреть список книг</a></li>  
        <li><a href="/access">Управление доступом к книгам</a></li>                            
    </ul>
</div>
